@import "tailwindcss";

.leaflet-container {
    height: 100%;
    width: 100%;
}

/* Custom styles for the Photon Control */

.photon-input {
  width: 250px;
  border: 2px solid #ccc;
  padding: 6px 10px;
  font-size: 16px;
  border-radius: 4px;
  background-color: #fff;
}

.photon-input:focus {
  width: 250px;
}

.photon-autocomplete {
  border-radius: 4px;
  background-color: #fff;
}

.photon-autocomplete li {
  padding: 6px 10px;
}

.photon-autocomplete li:hover {
  background-color: #f0f0f0
}